*{
    margin: 0px;
    padding: 0px;
}


body{
    background: url(imagens/imagem-fundo.png) no-repeat;
    background-size: cover; 
    height: 190vh;
}
header h1{
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}

div#presente{
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    margin: auto;
    width: 403px;
    margin-top: 20px;
}

img#presenteAberto{
    display: none;
}

div#carta{
    display: none;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    width: 70vw;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    padding: 20px;
}

div p {
    text-align: left;
    text-indent: 30px;
    word-spacing: 10px;
    margin-top: 3px;
}

